body {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: large;
    color:black;
    padding: 1em;
    }
  
  section {
    padding: 1em 0;
    text-emphasis-style: bold;
  }
  
  table {
    border-collapse: collapse;
    color: black
  }
  table, td {
    border: 1px solid black;
  }
  
  th {
    padding-left: 3em;
    padding-right: 3em;
    background-color: gainsboro;
  }
  
  tr {
    border-bottom: solid 1px #000000;
    line-height: 1.75;
    border-left: solid 1px #000000;
    line-height: 1.75;
  }
  
  td {
    text-align: center;
    padding: 0 0.5em;
    background-color: #debab9;
  }
  
  .date_f {
    background-color: #a9a9a9;
  }
  .low {
    background-color: #a9a570;
  }
  .high {
    background-color: #ad5d5d;
  }